<ActionBar title="Question">
    <ActionItem android.position="actionBar">
        <Label [text]="user?.username"></Label>
    </ActionItem>
    <ActionItem (tap)="appService.makeAvatar(user?.username)"
                android.systemIcon="ic_menu_camera"
                android.position="actionBar">
        <Image *ngIf="appService.image.value" [imageSource]="appService.image.value"  width="50" borderRadius="50"></Image>
    </ActionItem>
    <ActionItem (tap)="logout()"
                android.systemIcon="ic_menu_blocked_user"
                android.position="actionBar"></ActionItem>
</ActionBar>

<StackLayout class="m-15" *ngIf="question">
    <Label class="h2" [text]="question.name" textWrap="true" minHeight="150"></Label>
    <ListView [items]="question.answers">
        <ng-template let-item="item">
            <StackLayout>
                <Button [text]="item.name" (tap)="answer(item.id)"></Button>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
